<footer> 
    <div>
        <h1 class="pr-font">FotoImageneX</h1>
        <p class="sc-font">Todos los derechos reservados</p>
    </div>
        <div class="flex column">
        <h1>Contacto</h1>
        <a target="_blank" href="https://wa.me/qr/TNW6CMDL5CL2J1" style="font-size:18px; background:#25D366; color:white; border:none; padding:8px 12px;">
            <i class="fa-brands fa-whatsapp"></i> ¡Hablanos!
        </a>
        <a target="_blank" href="https://www.instagram.com/ithurburu_ph/" style="font-size:18px; background:#ff0f4b; color:white; border:none; padding:8px 12px;">
            <i class="fab fa-instagram"></i> Visita nuestro Instagram
        </a>
        </div>
</footer>

    
</html>