<head>
    <link rel="stylesheet" href="css/styles.css">
</head>

<footer> 
    <div>
        <h1 class="pr-font">FotoImageneX</h1>
        <p class="sc-font">Todos los derechos reservados</p>
    </div>
        <div class="flex column">
        <h1>Contacto</h1>
        <div class="flex">
            <a target="_blank" href="https://wa.me/qr/TNW6CMDL5CL2J1">
                <img class="icon" src="/images/whatsapp.png" alt="">
            </a>
            <a target="_blank" href="https://www.instagram.com/ithurburu_ph/">
                <img class="icon instagram" src="/images/instagram.png" alt="">
            </a>
        </div>
        
        </div>
</footer>

    
</html>